<!-- views/pages/profile.ejs -->
<!-- This page is the profile page that allows for the display of the user account details. It shows the username,first and last names, the dob and shows images for most users. -->
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="homepage.css">
  <% include ../partials/head %>
</head>

<body>
    <% include ../partials/navbar %>
    <div class="container">

  <main>
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <!-- Page to display a single profile. The "user" object is passed through from express -->
          <!-- get the first name -->
          <h1>Hi <%= user.name.first %></h1>
          <!-- get the medium picture -->
          <!-- <img src="<%= user.picture.medium %>" class="img-circle" /> -->
          <!-- get the username -->
          <h2>Details</h2>
          <p>Username: <%= user.login.username %></p>
          <p>
            <!-- get the gender-->
            Gender: <%= user.gender %>
          </p>
          <p>
            <!-- get the dob -->
            Date of Birth: <%= user.dob %>
          </p>
          <p>
            <!-- get the registration date-->
            Date of Registration: <%= user.registered %>
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="well">
          <h3>Address</h3>
          <ul>
            <!-- get the componemts of the address-->
            <li class="list-group-item">
              <%= user.location.street %>
            </li>
            <li class="list-group-item">
              <%= user.location.city%>
            </li>
            <li class="list-group-item">
              <%= user.location.state %>
            </li>
            <li class="list-group-item">
              <%= user.location.postcode %>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </main>
</div>
<div class="footer">
<% include ../partials/footer %>
</div>
</body>
</html>
